
<div class="container">
   <h1 class="text-center">Library Management System</h1>
</div>
<nav class="navbar navbar-default navbar-inverse" data-ng-controller="headerController">
        <ul class="nav navbar-nav" style="display:inline-block;margin-left:20px;">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <li class="active"><a href="#!/userDetails">User Details</a></li>
            <li><a href="#!/bookDetails">Book Details</a></li>
            <li><a href="#!/issueBookDetails">IssuedBook Details</a></li>
            <li class="btn btn-danger" style="margin-left:20px;margin-top:10px;" ng-click="issueBook()">Issue Book</li>
            <li class="btn btn-danger" style="margin-left:20px;margin-top:10px;"  ng-click="addUser()">Add User</li>
            <li class="btn btn-danger" style="margin-left:20px;margin-top:10px;" ng-click="addBook()">Add Book</li>
        </ul>
</nav>