.h1{
    text-align:center;
}

.searchBar{
    border:solid;
    margin-bottom:20px;
}


.table{
    border:solid black;
}

.btn{
    margin-top:20px;
    min-width:20px;
    max-width:120px;
    text-align:center;
}