<footer class="site-footer" style="background:#333;color:#ffffff; margin-top:35%">
    <div class="container-fluid text-left">
        <div>
            <h3>Follow Us on:</h3>
            <i class="fa fa-facebook" style="color:#ffffff"></i>
            <i class="fa fa-twitter" style="color:#ffffff"></i>
            <i class="fa fa-linkedin" style="color:#ffffff"></i>
            <i class="fa fa-youtube" style="color:#ffffff"></i>
        </div>
        <div class="bottom-footer">
            <div class="row">
                <div>
                    <p style="text-align:right;"> @CopyRight Innolat.com</p>
                </div>
            </div>
        </div>
    </div>

</footer>